@media (max-width:1024px) {
    .form-inline {
        display: none;
    }
}

a {
    color:  rgba(0,0,0,.5)!important;
}

.navbar-toggler {
    color: black;
}

.nav-item {
    padding-left: 35px;
    padding-right: 35px;
    font-size: 25px;
    font-family: 'Playfair Display', serif;
}

.navbar {
    background-color: white;
}

.navbar-brand {
    font-family: 'Pacifico', cursive;
    font-weight: bold;
}

#plx {

    background-attachment: fixed;
    height: 800px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}

.wtitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

h4 {
    font-family: 'Playfair Display', serif;
}

.card-text {
    font-family: 'Playfair Display', serif;
}

.card-img-wrap {
    overflow: hidden;
    position: relative;
}
.card-img-wrap:after {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(255,255,255,0.3);
    opacity: 0;
    transition: opacity .25s;
}
.card-img-wrap img {
    transition: transform .25s;
    width: 100%;
}
.card-img-wrap:hover img {
    transform: scale(1.2);
}
.card-img-wrap:hover:after {
    opacity: 1;
}


.rounded {
    width: 250px;
    height: auto;
}

.arct-text {
    font-family: 'Playfair Display', serif;
}

.arct-2 img {
    width: 320px;
    height: auto;
}

.arct-3 img {
    width: 350px;
    height: auto;
}

