@media (max-width:1024px) {
    .form-inline {
        display: none;
    }
}

.nav-item {
    padding-left: 35px;
    padding-right: 35px;
    font-size: 25px;
    font-family: 'Playfair Display', serif;
}

.navbar {
    background-color: white;
}

.navbar-brand {
    font-family: 'Pacifico', cursive;
    font-weight: bold;
}

.jumbotron {
    background-size: cover;
}
