@media (max-width:1024px) {
    .form-inline {
        display: none;
    }
}

.navbar {
    background-color: white;
}

.nav-item {
    padding-left: 35px;
    padding-right: 35px;
    font-size: 25px;
    font-family: 'Playfair Display', serif;

}

.navbar-brand {
    font-family: 'Pacifico', cursive;
    font-weight: bold;
}

.carousel-inner img {
    width: 100%;
    height: 100%;

}

.carousel-item {
    background-size: cover;
}

.carousel-inner {
    font-family: 'Playfair Display', serif;
}

.display-2 {
    font-size: 7.1vw;
    font-family: 'Playfair Display', serif;
}

h3 {
    font-size: 3.5vw;
}

h5 {
    font-size: 2.6vw;
}

.jumbotron {
    width: 100%;
}

.lead {
    font-size: 3.0vw;

}

.card {
    display: inline-block;

}

.card-img-wrap {
    overflow: hidden;
    position: relative;
}
.card-img-wrap:after {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(255,255,255,0.3);
    opacity: 0;
    transition: opacity .25s;
}
.card-img-wrap img {
    transition: transform .25s;
    width: 100%;
}
.card-img-wrap:hover img {
    transform: scale(1.2);
}
.card-img-wrap:hover:after {
    opacity: 1;
}

.footer-item {
    text-decoration: none;
}
